:root{
    --color-accent: #ed3921;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--color-accent);
}

.fa-fire{
    font-size: 1.5rem;
    margin-right: 0.2rem;
}

.logo__title{
    font-size: 1.5rem;
}

.user__login{
    border: none;
    background-color: white;
    font-size: 1.2rem;
}